Django==4.2.6 #Web Framework
djangorestframework==3.14.0 #Flex web API for building web apps with Django
django-environ==0.11.2 #This allows you to configure environmental variables via Django applications
django-filter==23.3 #Allows filtering support for rest framework
django-autoslug==1.9.9 #Automated slug field for Django
django-countries==7.5.1 #This provides some countries and fixtures of top level countries data.
Pillow==10.1.0 #Image library
django-phonenumber-field==7.2.0
phonenumbers==8.13.23
psycopg2-binary==2.9.9 #PostgreSQL data for Python
flake8==6.1.0 #This combines Pip8 & PyFlakes
black==23.1a1
isort==5.12.0
djoser==2.2.0
djangorestframework-simplejwt==5.3.0
pyJWT==2.8.0
pytest-django==4.4.0
pytest-factoryboy==2.1.0
Faker==8.9.1
pytest-cov==2.12.1